<h1>
  <%= @fabric.name%>
</h1>
<p>
  <%= @fabric.description%>
</p>
<p>
  <%= @fabric.category%>
</p>
<p>
  <%= @fabric.grammage%>
</p>
<p>
  <%= @fabric.recommended%>
</p>
<p>
  <%= link_to 'Back', fabrics_path %>
</p>