<h1>Item with name <%= @item.name %> versions: </h1>
<p>Available versions: <%= @item.item_versions.count %> </p>

<%= @item_versions.each do |item_version| %>
 <p>
  <%# Item name <%= @item.name <%= link_to "back", item_ %>  %> %>
 </p>
<% end %>
