<h1>Clients</h1>
<p>
<%= link_to "Items", items_path%>
<%= link_to "Clients", clients_path%>
<%= link_to "Admin", admin_items_path%>
</p>

<p>Number of clients: <%= @clients.count %></p>

<% @clients.each do |client| %>
<p>
  <%= client.client_name%> <%= link_to "show", client%>
</p>
<% end %>

