<h1>Items</h1>
<p>
<%= link_to "Items", items_path%>
<%= link_to "Clients", clients_path%>
<%= link_to "Admin", admin_items_path%>
</p>

<p>Available items: <%= @items.length %> </p>

<% @items.each do |item| %>
  <p>
<%= item.name %> <%= link_to "show", item %> 
 </p>
<% end %>
