<h1>Item with name: <%= @single_item.name %> </h1>
<p>Available models: <%= @single_item.item_versions.count %> </p>

<% @single_item.item_versions.each do |item_version| %>
  <p>
    <%= @single_item.name %> size <%= item_version.size %> color <%= item_version.color %> <%= link_to "item", item_version %>
  </p>
<% end %>
<p>
  <%= link_to "Back", items_path %>
</p>
