<h1>Item_version#index</h1>
<p>Available versions: <%= @itemversion.count %> </p>

<% @item_versions.each do |itemversion| %>
  <p>
    Item <%= item.name %> <%= item_version.color %> <%= item_version.size %> <%= link_to "show", item_version %> 
 </p>
<% end %>